/* CSS declarations go here */
@font-face {
    font-family: 'museo_sans';
    src: url('/fonts/MuseoSans_500-webfont.eot');
    src: url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
    url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
    url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    url('/fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url('/background.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100%;
    display: flex;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
}

.backToBeta {
    top: 0;
    left: 0;
    position: absolute;
    margin: 15px;
}

.backToBeta a {
    color: white;
    font-family: 'museo_sans', sans-serif;
}

.mangroveLogo {
    align-self: flex-end;
    position: absolute;
    right: 0;
}

.mangroveLogo img{
    margin: 15px;
}

h1 {
    font-weight: bold;
}

h1, p {
    color: white;
    font-family: 'museo_sans', sans-serif;
}

label {
    font-family: 'museo_sans', sans-serif;
}

form .btn, form .btn:hover {
    background-color: #ea5d34;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ea5d34;
    box-shadow: 0 1px 0 0 #ea5d34;
}

.dropdown-content li > a, .dropdown-content li > span{
    color: #ea5d34;
}

[type="checkbox"]:checked + label:before{
    border-right: 2px solid #ea5d34;
    border-bottom: 2px solid #ea5d34;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #ea5d34;
}

.form-group label{
    float: left;
}

